<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      	xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ssl-certificates"
        version="6.0.0">

  <name>SSL Certificates</name>

  <description>
    This plugin allows you to get the SSL Certificates of the server you're connecting to.
    This can be useful for prevention of Man In The Middle attacks.
  </description>

  <keywords>Certificate, SSL, Pinning, Man in the Middle, MitM</keywords>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module name="SSLCertificates" src="www/SSLCertificates.js">
    <clobbers target="window.plugins.sslCertificates" />
  </js-module>

  <!-- ios -->
 	<platform name="ios">
 		<config-file target="config.xml" parent="/*">
 			<feature name="SSLCertificates">
 				<param name="ios-package" value="SSLCertificates" />
 			</feature>
 		</config-file>
 		<header-file src="src/ios/SSLCertificates.h" />
 		<source-file src="src/ios/SSLCertificates.m" />
		<framework src="Security.framework" />
 	</platform>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SSLCertificates">
        <param name="android-package" value="nl.xservices.plugins.SSLCertificates" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <source-file src="src/android/nl/xservices/plugins/SSLCertificates.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <!-- windows -->
  <platform name="windows">
    <js-module src="src/windows/sslCertsPluginProxy.js" name="SSLCertCheckProxy">
      <merges target="" />
    </js-module>
  </platform>

</plugin>
